.header1{
    margin-bottom: 80px;
    
}
.header1 img{
    width: 100%;
}

.habc{
    color: aquamarine;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}
.def123{
    color: aqua;
    text-align: center;
}